services:
  webapi:
    image: "raaedprojectapi/webapi"
    build: .
    ports:
      - "5001:443"
      - "5000:80"
    depends_on:
      - database
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
  database:
    image: "rmuehler/vehicle-database"
    volumes:
      - sql-data:/var/opt/mssql/data
    ports:
      - "1433:1433"
    environment:
      SA_PASSWORD: "SusPassword2!"
      ACCEPT_EULA: "Y"
  webui:
    image: "raaedprojectapi/webui:latest"
    ports:
      - "80:80"
volumes:
  sql-data:
