services:
  webapi:
    image: "rmuehler/vehicle-web-api"
    build: .
    ports:
      - "443:443"
      - "80:80"
    depends_on:
      - database
  database:
    image: "rmuehler/vehicle-database"
    volumes:
        - sql-data:/var/opt/mssql/data 
    ports:
      - "1433:1433"
    environment:
      SA_PASSWORD: "SusPassword2!"
      ACCEPT_EULA: "Y"
  webui:
    image: raaedk/vehicleui
    ports:
      - "3000:80"
volumes:
  sql-data: